<?php

$rules = array(
    'music' => array(
        'ext' => array('mp3'),
        'folder' => '/Users/ChoiZ/Repos/simple-scheduler/music/'
    ),
    'playlist' => array(
        'path' => '/Users/ChoiZ/Repos/simple-scheduler/playlist.m3u',
        'size' => 100
    )
);