<?php
// Config version
define('CONFIG', 1);

// Encoding, Lang, Timezone
define('ENCODING', 'UTF-8');
define('LANG', 'fr_FR');
define('TIMEZONE', 'Europe/Paris');

$music_ext = array('mp3');
$music_path = '/mnt/disk1/tracks/';

$playlist_size = 300;
$playlist_path = '/mnt/disk1/simple-php-scheduler/';

$stations = [];
// Configure station(s)
$stations['station_1'] = array('separation' => array('artist' => 50, 'track' => 150));
$stations['station_2'] = array('separation' => array('artist' => 100, 'track' => 300));
