<?php

$rules = array(
    'music' => array(
        'ext' => array('mp3'),
        // folder for my_station is:
        // /Users/ChoiZ/Repos/simple-scheduler/music/my_station/
        'folder' => '/Users/ChoiZ/Repos/simple-scheduler/music/'
    ),
    'playlist' => array(
        // playlist name is /Users/ChoiZ/Repos/simple-scheduler/my_station.m3u
        'path' => '/Users/ChoiZ/Repos/simple-scheduler/',
        'size' => 100
    )
);

$stations = array(
    'my_station'
);